<a href="https://colab.research.google.com/github/Alexey198268/Python/blob/main/STPY_24_%D0%91%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5_%D0%BF%D0%BE%D0%BD%D1%8F%D1%82%D0%B8%D1%8F_%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [ ]:
import pandas as pd
data = pd.read_csv('horse_data.csv', names = ['surgery', 'Age', 'Hospital Number', 'rectal temperature', 'pulse', \
                                              'respiratory rate', 'temperature of extremities', 'peripheral pulse', \
                                              'mucous membranes', 'capillary refill time', 'pain', 'peristalsis', \
                                              'abdominal distension', 'nasogastric tube', 'nasogastric reflux', \
                                              'nasogastric reflux PH', 'rectal examination', 'abdomen', 'packed cell volume', \
                                              'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', \
                                              'outcome', 'surgical lesion', 'type of lesion1', 'type of lesion2', 'type of lesion3', 'cp_data'])

In [ ]:
data_horse = data[['surgery', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain','outcome']]

In [ ]:
data_horse.head()

  surgery  Age rectal temperature  ... temperature of extremities pain outcome
0       2    1              38.50  ...                          3    5       2
1       1    1               39.2  ...                          ?    3       3
2       2    1              38.30  ...                          1    3       1
3       1    9              39.10  ...                          4    2       2
4       2    1              37.30  ...                          ?    ?       2

[5 rows x 8 columns]

#Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

 Сначала заменим пропущенные значения (отмеченные знаком "?") на значения, понятные библиотеке Pandas (NaN). Также изменим тип данных с текстового на числовой по всем столбцам для удобства дальнейшей работы.

In [ ]:
data_horse.dtypes

surgery                       object
Age                            int64
rectal temperature            object
pulse                         object
respiratory rate              object
temperature of extremities    object
pain                          object
outcome                       object
dtype: object

In [ ]:
import numpy as np
data_horse_stats =  data_horse.replace('?',np.nan)
data_horse_stats = data_horse_stats.apply(pd.to_numeric)
# data_horse_stats[['rectal temperature', 'pulse', 'respiratory rate']] = \
# data_horse_stats[['rectal temperature', 'pulse', 'respiratory rate']].apply(pd.to_numeric)
# data_horse_stats['Age']=data_horse_stats.Age.astype('object')
data_horse_stats.dtypes

surgery                       float64
Age                             int64
rectal temperature            float64
pulse                         float64
respiratory rate              float64
temperature of extremities    float64
pain                          float64
outcome                       float64
dtype: object

Посмотрим на основные параметры датафрейма:

In [ ]:
data_horse_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

Посмотрим основные характеристики числовых столбцов через describe (игнорируя пропущенные значения):

In [ ]:
data_horse_stats.describe()

          surgery         Age  ...       pain     outcome
count  299.000000  300.000000  ...  245.00000  299.000000
mean     1.397993    1.640000  ...    2.95102    1.551839
std      0.490305    2.173972  ...    1.30794    0.737187
min      1.000000    1.000000  ...    1.00000    1.000000
25%      1.000000    1.000000  ...    2.00000    1.000000
50%      1.000000    1.000000  ...    3.00000    1.000000
75%      2.000000    1.000000  ...    4.00000    2.000000
max      2.000000    9.000000  ...    5.00000    3.000000

[8 rows x 8 columns]

Теперь проанализируем остальные статистические характеристики (размах и моду) каждого из столбцов с количественными типами данных (это rectal temperature, pulse, respiratory rate). Остальные столбцы имеют категориальный тип данных.

In [ ]:
min_t = data_horse_stats['rectal temperature'].min()
max_t = data_horse_stats['rectal temperature'].max()
print('Размах по rectal temperature: '+str(round(max_t-min_t,2)))
min_t = data_horse_stats['pulse'].min()
max_t = data_horse_stats['pulse'].max()
print('Размах по pulse: '+str(round(max_t-min_t,2)))
min_t = data_horse_stats['respiratory rate'].min()
max_t = data_horse_stats['respiratory rate'].max()
print('Размах по respiratory rate: '+str(round(max_t-min_t,2)))
print('Значение моды rectal temperature: ', data_horse_stats['rectal temperature'].round().mode()[0])
print('Значение моды pulse: ', data_horse_stats['pulse'].round().mode()[0])
print('Значение моды respiratory rate: ', data_horse_stats['respiratory rate'].round().mode()[0])

Размах по rectal temperature: 5.4
Размах по pulse: 154.0
Размах по respiratory rate: 88.0
Значение моды rectal temperature:  38.0
Значение моды pulse:  48.0
Значение моды respiratory rate:  20.0

Оценим выбросы в трех имеющихся числовых столбцах через межквартильный разброс:

In [ ]:
#выбросы в столбце rectal temperature:
q1_t = data_horse_stats['rectal temperature'].quantile(0.25)
q3_t = data_horse_stats['rectal temperature'].quantile(0.75)
iqr_t = q3_t - q1_t #межквартильный размах
lower_bound = q1_t - (1.5 * iqr_t) #нижняя граница
upper_bound = q3_t + (1.5 * iqr_t) #верхняя граница
remove_outliers = data_horse_stats[data_horse_stats['rectal temperature'].\
                                   between(lower_bound, upper_bound, inclusive=True)].sort_values('rectal temperature')
t = pd.concat([data_horse_stats, remove_outliers]).drop_duplicates(keep=False)
t['rectal temperature'].unique() #уникальные значения выбросов

array([ nan, 39.9, 35.4, 40.3, 39.7, 36.4, 39.6, 36.5, 36. , 36.1, 36.6,
       40.8, 40. ])

In [ ]:
#выбросы в столбце pulse:
q1_p = data_horse_stats['pulse'].quantile(0.25)
q3_p = data_horse_stats['pulse'].quantile(0.75)
iqr_p = q3_p - q1_p #межквартильный размах
lower_bound = q1_p - (1.5 * iqr_p) #нижняя граница
upper_bound = q3_p + (1.5 * iqr_p) #верхняя граница
remove_outliers = data_horse_stats[data_horse_stats['pulse'].\
                                   between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
p = pd.concat([data_horse_stats, remove_outliers]).drop_duplicates(keep=False)
p['pulse'].unique() #уникальные значения выбросов

array([164.,  nan, 150., 160., 184.])

In [ ]:
#выбросы в столбце respiratory rate:
q1_r = data_horse_stats['respiratory rate'].quantile(0.25)
q3_r = data_horse_stats['respiratory rate'].quantile(0.75)
iqr_r = q3_r - q1_r #межквартильный размах
lower_bound = q1_r - (1.5 * iqr_r) #нижняя граница
upper_bound = q3_r + (1.5 * iqr_r) #верхняя граница
remove_outliers = data_horse_stats[data_horse_stats['respiratory rate'].\
                                   between(lower_bound, upper_bound, inclusive=True)].sort_values('respiratory rate')
r = pd.concat([data_horse_stats, remove_outliers]).drop_duplicates(keep=False)
r['respiratory rate'].unique() #уникальные значения выбросов

array([84., nan, 96., 72., 80., 68., 66., 70., 88.])

#Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

Посчитаем процент пропущенных значений в столбцах. Максимально это 20% значений столбца. Итого получаем, что четыре столбца имеют пропуски в пятой части данных, в остальных столбцах пропусков намного меньше:

In [ ]:
(data_horse_stats.isna().mean()*100).round(2) #пропущенные значения в каждом столбце в процентах

surgery                        0.33
Age                            0.00
rectal temperature            20.00
pulse                          8.00
respiratory rate              19.33
temperature of extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

In [ ]:
data_horse_stats.isna().sum() #количество пропущенных значений в каждом столбце

surgery                        1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

Заполним пропущенные значения на основе имеющихся данных. Столбец surgery (была ли операция, 1 - да, 2 - нет) имеет одно пропущенное значение. Так как одно значение из 300 вряд ли сильно повлияет на статистику, то заполним модой по данному столбцу. То же для столбца outcome:

In [ ]:
data_horse_stats['surgery'].fillna(data_horse_stats['surgery'].mode()[0], inplace=True)
data_horse_stats['outcome'].fillna(data_horse_stats['outcome'].mode()[0], inplace=True)

In [ ]:
data_horse_stats.isna().sum()

surgery                        0
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        0
dtype: int64

Далее заполним пропуски в столбце со значениями пульса. Находим завиcимость данного показателя от исхода (outcome)

In [ ]:
data_horse_stats.groupby(['outcome'])['pulse'].median()

outcome
1.0    54.0
2.0    86.0
3.0    82.0
Name: pulse, dtype: float64

Производим заполнение пропусков в значениях пульса:

In [ ]:
data_horse_stats['pulse'].fillna(data_horse_stats.groupby(['outcome'])\
                                              ['pulse'].transform('median'), inplace=True)

Далее при исследовании данных получаем зависимость частоты дыхания от возраста. Тем не менее разброс значений очень большой, другой значимой закономерности не удалось отследить, тем более указано в описании, что "полезность сомнительна из-за больших колебаний" и в том числе ограничивающим фактором выступает наличие пропусков в других влияющих столбцах, поэтому производим заполнение средней частотой дыхания по возрасту.

In [ ]:
data_horse_stats.groupby(['Age'])['respiratory rate'].mean()

Age
1    28.238739
9    54.600000
Name: respiratory rate, dtype: float64

In [ ]:
data_horse_stats['respiratory rate'].fillna(data_horse_stats.groupby(['Age'])\
                                              ['respiratory rate'].transform('mean'), inplace=True)
data_horse_stats.isna().sum()

surgery                        0
Age                            0
rectal temperature            60
pulse                          0
respiratory rate               0
temperature of extremities    56
pain                          55
outcome                        0
dtype: int64

Произведем заполнение показателя температуры конечностей. Найдена зависимость этого показателя от исхода и возраста лошади.

In [ ]:
(data_horse_stats.groupby(['outcome', 'Age'])['temperature of extremities'].mean()).round(0)

outcome  Age
1.0      1      2.0
         9      2.0
2.0      1      3.0
         9      2.0
3.0      1      3.0
         9      3.0
Name: temperature of extremities, dtype: float64

Производим заполнение пропусков в данном столбце в соответствии с описанным наблюдением:

In [ ]:
data_horse_stats['temperature of extremities'].fillna(data_horse_stats.groupby(['outcome', 'Age'])\
                                              ['temperature of extremities'].transform('mean').round(0), inplace=True)
data_horse_stats.isna().sum()

surgery                        0
Age                            0
rectal temperature            60
pulse                          0
respiratory rate               0
temperature of extremities     0
pain                          55
outcome                        0
dtype: int64

Заполним столбец уровня болевых ощущений. Нашли определенную зависимость этого уровня от наличия операции и возраста:

In [ ]:
(data_horse_stats.groupby(['Age','surgery'])['pain'].mean()).round(0)

Age  surgery
1    1.0        3.0
     2.0        2.0
9    1.0        3.0
     2.0        3.0
Name: pain, dtype: float64

Заполним пропуски по pain:

In [ ]:
data_horse_stats['pain'].fillna(data_horse_stats.groupby(['Age', 'surgery'])\
                                              ['pain'].transform('mean').round(0), inplace=True)
data_horse_stats.isna().sum()

surgery                        0
Age                            0
rectal temperature            60
pulse                          0
respiratory rate               0
temperature of extremities     0
pain                           0
outcome                        0
dtype: int64

Заполним последний столбец с пропусками, rectal temperature. Логично предположить, что он зависит от температуры конечностей. Дополнительные расчеты показали, что есть также зависимость от возраста:

In [ ]:
data_horse_stats.groupby(['Age', 'temperature of extremities'])['rectal temperature'].median()

Age  temperature of extremities
1    1.0                           38.10
     2.0                           38.15
     3.0                           38.05
     4.0                           38.30
9    1.0                           38.30
     2.0                           38.80
     3.0                           38.50
     4.0                           39.10
Name: rectal temperature, dtype: float64

Определенная зависимость прослеживается, заполним оставшиеся пропуски:

In [ ]:
data_horse_stats['rectal temperature'].fillna(data_horse_stats.groupby(['Age', 'temperature of extremities'])\
                                              ['rectal temperature'].transform('mean'), inplace=True)
data_horse_stats.isna().sum()

surgery                       0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
dtype: int64

In [ ]:
data_horse_stats

     surgery  Age  ...  pain  outcome
0        2.0    1  ...   5.0      2.0
1        1.0    1  ...   3.0      3.0
2        2.0    1  ...   3.0      1.0
3        1.0    9  ...   2.0      2.0
4        2.0    1  ...   2.0      2.0
..       ...  ...  ...   ...      ...
295      1.0    1  ...   2.0      3.0
296      2.0    1  ...   4.0      3.0
297      1.0    1  ...   4.0      2.0
298      1.0    1  ...   3.0      1.0
299      1.0    1  ...   3.0      3.0

[300 rows x 8 columns]